.sidebar {
    position: fixed;
    top: 88px;
    left: 0;
    // width: 90px;
    
    .sidebar-wrapper {
        width: 90px;
        padding: 0 10px;

        display: flex;
        flex-direction: column;


        .ant-menu {
            

            .ant-menu-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                margin-bottom: 10px;
                height: 55px;
                margin-bottom: 15px;
                transition: none;

                &:hover {
                    background-color: rgba(179, 175, 175, 0.2);
                    border-radius: 10px;
                    border: none;

                    .ant-menu-item-icon {
                        transition:  all .2s ease 0s;
                        -moz-transition:  all .2s ease 0s;
                        -webkit-transition:  all .2s ease 0s;
                        -o-transition:  all .2s ease 0s;
                        transform: scale(1.3);

                    }
                }

                

                .ant-menu-item-icon {
                    min-width: 18px;
                    font-size: 18px;
                    transition: font-size 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), margin 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), color 0.3s;

                    
                }

                .ant-menu-item-icon + span {
                    margin: 0px;
                    font-size: 13px;
                    font-weight: 600;
                    padding: 0px;
                    line-height: 20px;
                    // font-family: ;
                }
            }
            .ant-menu-item-selected {
                border-radius: 10px;
            }
        }

        .ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
            border-radius: 10px;
            border: none;
        }
    }
}